:root {
    --color-dark-blue: #5770ff;
    --color-dark-pink: #ff75b3;
    --color-dark-orange: #ff7c6b;
    --color-dark-purple: #b86bff;
    --color-dark-green: #87e3cf;
    --color-dark-blue-rgb: 87,112,255;
    --color-dark-purple-rgb: 184,107,255;
    --color-dark-pink-rgb: 255,117,179;
    --color-dark-orange-rgb: 255,124,107;
    --color-dark-body-background-color: var(--color-grey-darkest);
    --color-dark-body-background-secondary-color: var(--color-grey-darker);
    --color-dark-body: var(--color-white);
    --color-dark-body-lighter: var(--color-grey-lighter);
    --color-dark-body-lightest: var(--color-grey-lightest);
    --color-dark-body-invert: var(--color-grey-darker);
    --color-dark-background-lightest: var(--color-grey-darker);
    --color-dark-background-lighter: var(--color-grey);
    --color-dark-border: var(--color-grey);
    --color-dark-input: var(--color-grey);
    --color-dark-link: #5770ff;
    --color-dark-link-dark: #425fff;
    --color-dark-link-active: #425fff;
    --gradient-dark-blue: linear-gradient(45deg,#425fff,#a95fdd);
    --gradient-dark-blue-inverted: linear-gradient(-45deg,#425fff,#a95fdd);
    --gradient-dark-blue-60-percent-inverted: linear-gradient(-45deg,#425fff,#425fff 60%,#a95fdd);
    --gradient-dark-pink: linear-gradient(45deg,#be60a0,#be6472);
    --gradient-dark-pink-inverted: linear-gradient(-45deg,#be60a0,#be6472);
    --gradient-dark-radial-blue-purple: linear-gradient(45deg,rgba(var(--color-blue-rgb),0.5) 0%,rgba(137,82,254,.5) 100%);
    --gradient-dark-radial-pink-orange: linear-gradient(45deg,rgba(251,96,117,.5) 0%,rgba(var(--color-pink-rgb),0.5) 100%,rgba(var(--color-pink-rgb),0.5) 100%);
    --gradient-dark-radial-orange-pink: linear-gradient(45deg,rgba(var(--color-orange-rgb),0.5) 0%,rgba(250,92,129,.5) 100%);
    --gradient-dark-circular-blue: linear-gradient(-135deg,rgba(146,80,251,.5) 0%,rgba(77,89,254,.5) 84%,rgba(var(--color-blue-rgb),0.5) 100%);


    /* Changer la couleur du texte danger */
    --bs-danger-rgb: 255,117,179;
    --bs-warning-rgb: 255,124,107;
    --bs-success-rgb: 135,227,207;

    --radius-frandroid: 25px;
}

.btn-outline-danger {
    --bs-btn-color: #ff75b3;
    --bs-btn-border-color: #ff75b3;
    --bs-btn-hover-bg: #ff75b3;
    --bs-btn-hover-border-color: #ff75b3;
    --bs-btn-active-bg: #ff75b3;
    --bs-btn-active-border-color: #ff75b3;
    --bs-btn-disabled-color: #ff75b3;
    --bs-btn-disabled-border-color: #ff75b3;
}

/* modifier la largeur de mon container */
/* Pour la taille XL */
@media screen and (min-width: 1000px){
    .container {
        max-width: 1000px;
    } 
}

.text-bg-danger {
    color: #fff!important;
    background-color: RGBA(var(--bs-danger-rgb),var(--bs-bg-opacity,1))!important;
}

a{
    text-decoration: none;
}


.list-item-categorie{
    padding: 12px;
}
.list-item-categorie img{
    max-width: 30px;
    min-width: 30px;
    display: inline-block;
}
.list-item-categorie a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    white-space: nowrap;
    display: block;
}

.list-categorie{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.list-item-categorie::after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background: var(--gradient-dark-blue);
    transition: width 0.2s ease-in-out;
}

.list-item-categorie:hover:after{
    width: 2rem;
}

.title-pubBar{
    font-size: 17px;
}

#barcolorsBackgound{
    background-image: url("https://www.frandroid.com/wp-content/themes/humanoid-redesign/dist/svg/eecc6ea811fd19d92d88.svg");
    background-repeat: no-repeat;
}

#navbarSupportedContent{
    width: 100%;
}

.menu-item-colored{
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.menu-item-colored::after{
    width: 1rem;
    content: "";
    display: block;
    margin-top: 5px;
    height: 2px;
    background: var(--gradient-dark-blue);
    transition: width 0.2s ease-in-out;
}

.menu-item-colored:hover::after{
    width: 100%;
}

.social-links i{
    padding: 5px;
    font-size:25px;
}

.social-links i:hover{
    color:var(--color-dark-link);
    cursor: pointer;
}

.megaMenu  a{
    color: white;
    text-decoration: none;
    transition: 0.15s;
}

.megaMenu  a:hover{
    color:var(--color-dark-link);
}

.megaMenu  li{
    list-style: none;
}
.megaMenu .megaMenu-categorie{
    margin: 15px 0px;
    font-size: 20px;
}

.megaMenu .megaMenu-categorie .megaMenu-categorie-content{
    width: fit-content;
    margin: auto;
}

.megaMenu .megamenu-categorie-title{
    color:var(--color-dark-link);
    font-size: 25px;
    font-weight:bold;
    transition: 0.15s;
}

.megaMenu .megamenu-categorie-title::after{
    content: '>';
    margin-left: 5px;
    transition: 0.15s;
}

.megaMenu .megamenu-categorie-title:hover{
    color:white;
}
.megaMenu .megamenu-categorie-title:hover::after{
    margin-left: 10px;
}

/* sous menu*/
.megaMenu .megaMenu-categorie ul li{
    font-weight: bolder;
}
/*sous sous menu*/
.megaMenu .megaMenu-categorie ul li ul li {
    font-weight: normal;    
}
.megaMenu .megaMenu-categorie ul li ul{
    border-left: solid 1px gray;
    margin-bottom: 10px;
}

.list-buttons{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}


.list-buttons div{
    margin:5px;
}

.list-buttons a{
    white-space: nowrap;
}

h2{
    font-weight: bold;
    background: linear-gradient(45deg, #5770ff, #b86bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article-block{
    height:18.75rem;
}

.article-block .article-image{
    position: absolute;
    border-radius: inherit;
    z-index: -1;
}

.article-block .article-image picture{
    border-radius:inherit;
}

.article-block .article-image picture img{
    border-radius:inherit;
}

.card .img-card-container::after{
    content: " ";
    display: block;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #5770ff, #b86bff);
    opacity: 0.5;
    border-radius: inherit;
}

.article-link{
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
}




.little-article{
    width: 11.75rem;
}



.outer {
    position:relative;
}

.outer .overlay {	
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #5770ff, #b86bff);
    opacity: 0.5;
    top: 0;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    opacity: 1!important;
    width: 100%;
    color:white;
    padding:20px;
}

.article-card{
    transition: 0.15s;
    height: 100%;
}

.article-card .card-body{
    background-color: #2c3049;
}

.shadow-light{
    box-shadow: 0.25rem 0.25rem 1.25rem rgba(87,112,255,.1);
}


.article-card:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

.article-card:hover .overlay{
    background: linear-gradient(45deg, #8194ff, #bc74ff);
}



.border-frandroid{
    border-radius: var(--radius-frandroid);
}

.border-frandroid-top{
    border-top-left-radius: var(--radius-frandroid);
    border-top-right-radius: var(--radius-frandroid);
}

.border-frandroid-bottom{
    border-bottom-left-radius: var(--radius-frandroid);
    border-bottom-right-radius: var(--radius-frandroid);
}

.selection-redaction{
}

.selection-redaction:hover .selection-redaction-img{
    transform: translateY(-10px);
}

.selection-redaction:hover .selection-redaction-text{
    transform: translateY(-5px);
}

.selection-redaction .selection-redaction-img{
    width: 350px;
    height: 200px;
    max-width: 50%;
    z-index: 2;
    display: inline-block;
    margin-top: -150px;
    position: relative;
    transition: 0.6s;
}

.selection-redaction .selection-redaction-text{
    width: 350px;
    height: 200px;
    /* max-width: 50%; */
    background-color: #2c3049;
    padding-left: 150px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -120px;
    margin-top: 50px;
    z-index: 1;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.selection-redaction .selection-redaction-text h6{
    color:#87e3cf;
}

.gradient-line{
    width: 6rem;
    height: 8px;
    background: linear-gradient(135deg,#87e3cf 0%,#87e3cf 30%,#5770ff 100%);
    z-index: 5;
    border-radius: 5px;
    position: relative;
    margin-top: -70px;
    margin-left: 200px;
}

.btn-scrolltop{
    z-index: 1000;
    position: fixed;
    bottom: 15px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    display: none;
    background-color: #2c3049;
    box-shadow: 0.25rem 0.25rem 2rem rgba(87,112,255,.4);
}

@media screen and (min-width: 768px){
    .navbarLine{
        width: auto;
    }
    .nav-item {
        padding: 10px;
    }
} 

@media screen and (min-width: 992px){

    .nav-item a{
        font-size: 1.5em;
    }
} 

@media screen and (max-width: 768px){
    .navbarLine{
        width: 100%;
    }
    .nav-item {
        padding: 3px;
    }
    .list-categorie{
        justify-content: flex-start;
    }


    .selection-redaction .selection-redaction-img{
        width: 300px;
        max-width: 70%;
        height: 150px;
        display: inline-block;
        margin-top: 0px;
    }
    
    .selection-redaction .selection-redaction-text{
        width: auto;
        height: auto;
        padding-left: 15px;
        padding-top: 150px;
        margin-left: 170px;
        margin-top: -130px;
        z-index: 1;
        display: inline-block;
    }
    
    
    .gradient-line{
        background: transparent;
    }
} 